@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sector 2<br />
    Noida,U.P. 210011<br />
    <abbr title="Phone">Phone:</abbr>
    9465876548
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:https://mail.google.com/mail/?view=cm&fs=1&rktkn11@gmail.com?subject=Your%20Subject&body=Hello%20there!">rktkn11@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>